{% extends 'base.html.twig' %}

{% block main_title %}
    Add new promotion
{% endblock %}

{% block main %}
    <div class="well">
        <hr>
        {{ form_start(form) }}
        <div class="container body-container">
            <div class="form-group">
                <div> <strong>Promotion</strong>: {{ form_widget(form.promotion,{'attr':{'class':'form-control'}}) }}</div>
                <br>
                <a class="btn btn-default" href="{{ path('admin_view_promotions') }}">Cancel</a>
                <button class="btn btn-success">Add</button>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

